<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Ranker</title>
    <link rel="stylesheet" href="css/style.css" type="../../public/css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/indexStyle.css" rel="stylesheet" media="screen">
  </head>
  <body>
    
    <div class="wrapper">
      <div class="">

        <div class="title">
          <h1> Music Ranker </h1>
        </div>

        <form action="/left" method="POST">
          <div class="left choice">
            <div class="music_img" style="background-image:url(<%= @left.img_url %>)">
              <div class="music_hover"> 
                <h2> <%= @left.name %> </h2>
                <input type="hidden" name="left_rating" value="<%= @left_rating %>">
                <input type="hidden" name="right_rating" value="<%= @right_rating %>">
                <input type="submit" class="vote">
              </div>
            </div>
          </div>
        </form>

        <form action="/right" method="POST">
          <div class="right choice">
            <div class="music_img" style="background-image:url(<%= @right.img_url %>)">
              <div class="music_hover"> 
                <h2> <%= @right.name %> </h2>
                <input type="hidden" name="left_rating" value="<%= @left_rating %>">
                <input type="hidden" name="right_rating" value="<%= @right_rating %>">
                <input type="submit" class="vote">
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  </body>
</html>